---
---
:root {
	--fade-time: 0.1s;
	--fade-in-animation: fadeIn ease forwards var(--fade-time);
	--fade-out-animation: fadeOut ease forwards var(--fade-time);
}


.fade-in {
	animation: var(--fade-in-animation);
	-webkit-animation: var(--fade-in-animation);
	-moz-animation: var(--fade-in-animation);
	-o-animation: var(--fade-in-animation);
	-ms-animation: var(--fade-in-animation);
}

.fade-out {
	animation: var(--fade-out-animation);
	-webkit-animation: var(--fade-out-animation);
	-moz-animation: var(--fade-out-animation);
	-o-animation: var(--fade-out-animation);
	-ms-animation: var(--fade-out-animation);
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-moz-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-webkit-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-o-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}


@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-moz-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-o-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
