---
---
@media screen and (orientation: portrait) {
	:root {
		--game-margin: 0.1vw;
	}
}

@media screen and (orientation: landscape) {
	:root {
		--game-margin: 0.1vh;
	}
}

.pdf-page {
	margin: var(--game-margin);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
