---
---
@media screen and (orientation: portrait) {
	:root {
		--home-btn-padding: 1.5vw 3vw;
		--home-margin: 1vw;
		--home-font-size: 4vw;
		--home-btn-border-radius: 1vw;
		--home-stack-shadow: 0.5vw 0.5vw #fff, 0.6vw 0.6vw #ccc, 1vw 1vw #fff, 1.1vw 1.1vw #ccc, 1.5vw 1.5vw #fff;
		--home-file-width: 43vw;
		--home-upload-form-padding: 0 0%;
		--home-btn-size: 12vw;
		--home-shadow: 0 1vw 2vw 0 rgba(0, 0, 0, 0.2), 0 1vw 2vw 0 rgba(0, 0, 0, 0.19);
	}
}

@media screen and (orientation: landscape) {
	:root {
		--home-btn-padding: 1.5vh 3vh;
		--home-margin: 1vh;
		--home-font-size: 3vh;
		--home-btn-border-radius: 1vh;
		--home-stack-shadow: 0.5vh 0.5vh #fff, 0.6vh 0.6vh #ccc, 1vh 1vh #fff, 1.1vh 1.1vh #ccc, 1.5vh 1.5vh #fff;
		--home-file-width: 30vh;
		--home-upload-form-padding: 0 25%;
		--home-btn-size: 10vh;
		--home-shadow: 0 1vh 2vh 0 rgba(0, 0, 0, 0.2), 0 1vh 2vh 0 rgba(0, 0, 0, 0.19);
	}
}

.white {
	color: white;
}

.title {
	font-size: calc(var(--home-font-size) * 3);
	text-align: center;
}

.sub-title {
	font-size: calc(var(--home-font-size) * 1.5);
	text-align: center;
}

#toolbar {
	display: flex;
	background-color: #ffffff45;
}

.utility-form {
	display: flex;

	.textfield {
		font-size: var(--home-font-size);
		border-radius: var(--home-btn-border-radius);
		background-color: white;
		color: black;

		padding: var(--home-btn-padding);
		margin: var(--home-margin);
		margin-right: 0;
		width: 100%;
		text-align: left;

		&::placeholder {
			color: black;
		}
	}

	#upload-label {
		&:hover {
			cursor: pointer;
		}

		#upload-label-text {
			height: 100%;
			align-items: center;
			display: inline-flex;
		}
	}

	.btn {
		font-size: var(--home-font-size);
		padding: var(--home-btn-padding);
		border-radius: var(--home-btn-border-radius);
		margin: var(--home-margin);
		background-color: #2B2D6F;
		color: white;
	}

	#upload-btn {
		margin-right: 0;
	}
}


#file-list {
	margin-bottom: calc(var(--home-margin) * 2);

	.file-link, .folder-link {
		width: var(--home-file-width);
		height: calc(var(--home-file-width) * 0.5);

		border-radius: var(--home-btn-border-radius);
		display: inline-flex;
		align-items: center;
		justify-content: center;
		font-size: var(--home-font-size);
		white-space: normal;
		overflow: hidden;

		margin: calc(var(--home-margin) * 3);
		padding: calc(var(--home-margin) * 3);

		box-shadow: var(--home-stack-shadow);
		&:hover {
			transition: box-shadow 0.5s;
			box-shadow: 0 0 #fff, 0 0 #ccc, 0 0 #fff, 0 0 #ccc, 0 0 #fff;
		}
	}

	.file-link {
		background-color: #23da89;
		color: black;
		&:hover {
			background-color: #67FFBC;
			color: black;
		}
	}

	.folder-link {
		background-color: #2B2D6F;
		color: white;
		&:hover {
			background-color: #5f61bd;
			color: white;
		}

		img {
			width: var(--home-btn-size);
			height: var(--home-btn-size);
		}
	}

	.back-link {
		background-color: black !important;
	}
}


.divider {
	width: 100%;
	height: 0.5vh;
	line-height: 0;
	text-align: center;
	font-size: var(--util-title-size);
	color: white;
	background: linear-gradient(90deg, transparent 0%, white 40%, white 60%, transparent 100%);
	margin: calc(var(--margin-size) * 2) 0 calc(var(--margin-size) * 2) 0;
}

#utility-section {
	display: inline-flex;
	position: fixed;
	bottom: 0;
	right: 0;

	.utility-btn {
		width: var(--home-btn-size);
		height: var(--home-btn-size);
		border-radius: calc(var(--home-btn-size) * 0.5);
		background-color: #000000;
		margin: calc(var(--home-margin) * 3);
		margin-left: 0;
		box-shadow: var(--home-shadow);

		img {
			width: 60%;
			height: 60%;
			vertical-align: unset;
			margin: 20% 20%;
		}
	}
}
