<!-- Javascript + Bootstrap Libraries -->
<script src="plugins/js/bootstrap/sweetalert.js"></script>
<script src="plugins/js/bootstrap/jquery.js"></script>
<script src="plugins/js/bootstrap/bootstrap.js"></script>

<!-- Firebase Libraries -->
<script src="plugins/js/firebase/firebase-app.js"></script>
<script src="plugins/js/firebase/firebase-firestore.js"></script>
<script src="plugins/js/firebase/firebase-auth.js"></script>
<script src="plugins/js/firebase/firebase-ui-auth.js"></script>

<!-- Custom Libraries -->
<script src="js/const.js"></script>
<script src="js/utility.js"></script>
<script src="js/firebase.js"></script>
