<!-- Javascript + Bootstrap Libraries -->
<script src="{{ site.baseUrl }}/plugins/js/bootstrap/sweetalert.js"></script>
<script src="{{ site.baseUrl }}/plugins/js/bootstrap/jquery.js"></script>
<script src="{{ site.baseUrl }}/plugins/js/bootstrap/bootstrap.js"></script>

<!-- Firebase Libraries -->
<script src="{{ site.baseUrl }}/plugins/js/firebase/firebase-app-7.8.js"></script>
<script src="{{ site.baseUrl }}/plugins/js/firebase/firebase-firestore-7.8.js"></script>
<script src="{{ site.baseUrl }}/plugins/js/firebase/firebase-storage-7.8.js"></script>
<script src="{{ site.baseUrl }}/plugins/js/firebase/firebase-auth-7.8.js"></script>
<script src="{{ site.baseUrl }}/plugins/js/firebase/firebase-ui-auth-4.4.js"></script>

<!-- Other Libraries -->
<script src="{{ site.baseUrl }}/plugins/js/pdf/pdf.js"></script>

<!-- Custom Libraries -->
<script src="{{ site.baseUrl }}/js/const.js"></script>
<script src="{{ site.baseUrl }}/js/utility.js"></script>
<script src="{{ site.baseUrl }}/js/firebase.js"></script>
<script src="{{ site.baseUrl }}/js/firebase_storage.js"></script>

{% for js in page.js %}
	<script src="{{ site.baseUrl }}/{{ js }}"></script>
{% endfor %}
