---
permalink: /
title: <insert title>

css:
- "css/index.css"
js:
- "js/index.js"
---

<!DOCTYPE html>
<html lang="en">
	{% include head.html %}

	<body>
		<div id="main-content">
			<form id="upload-form">
				<tr>
					<td valign="top">
						<label for="icon">Zip File</label>
					</td>
					<td valign="top">
						<input id="upload-file" accept=".pdf" type="file" id="uploadZip" name="icon">
					</td>
				</tr>
				<tr>
					<td colspan="5" style="text-align:center">
						<button class="btn btn-primary" type="submit">Upload Zip</button>
					</td>
				</tr>
			</form>

			<div id="file-list">
			</div>
		</div>
		{% include firebase.html %}
	</body>

	{% include foot.html %}

</html>
